header {

     background: url(../img/background-image-start.png) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#map-example1, #map-addTravelTimeControlExample {

    height: 400px;
}

#map-addTravelTimeControlExample {

    margin-bottom: 15px; 
}

section.tutorials {
    color: #fff;
    background: #212E3E;
}

/* remove the star from the heading */
hr.star-light:after, hr.star-primary:after {

    content: "";
}
