header {

     background: url(../img/background-image-start.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#map-example1, #map-addTravelTimeControlExample, 
#map-addTravelTypeControlExample, #map-addTravelStartDateControlExample, #map-inverseExample,
#map-addPlaceAutoCompleteControlExample, #map-routingExample, #map-filterExample, #map-multipleExample, #map-htmlControlExample {

    height: 400px;
    margin-bottom: 15px; 
}

#map-one, #map-two {

    width: 100%;
    height: 600px;
}

.html-control {

    /*position: static;*/
    background-color: white;
    color: black;
    width: 344px;
    max-height: 320px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 5px rgba(0,0,0,0.65);
    box-shadow: 0 1px 5px rgba(0,0,0,0.65);
    padding: 7px;
    z-index:10000;
    color: black;
    overflow-y: scroll;
}

#demo-iframe {

    width: 100%;
    height: 900px;
}

.tutorial, .api {

    padding-top: 100px;
}

.api code {
    color : black;
}

section.tutorials {
    color: #fff;
    background: #212E3E;
}

/* remove the star from the heading */
hr.star-light:after, hr.star-primary:after {

    content: "";
}

/*.dl-horizontal {
 font-size: 15px;   
}*/

.leaflet-popup-content {
    color:black;
}

.bs-callout {
    color: black;
  margin: 20px 0;
  padding: 15px 30px 15px 15px;
  border-left: 5px solid #eee;
}
.bs-callout h4 {
  margin-top: 0;
}
.bs-callout p:last-child {
  margin-bottom: 0;
}
.bs-callout code,
.bs-callout .highlight {
  background-color: #fff;
}
 
/* Themes for different contexts */
.bs-callout-danger {
  background-color: #fcf2f2;
  border-color: #dFb5b4;
}
.bs-callout-warning {
  background-color: #fefbed;
  border-color: #f1e7bc;
}
.bs-callout-info {
  background-color: #f0f7fd;
  border-color: #d0e3f0;
}

#demo .nav-pills>li.active>a, #demo .nav-pills>li.active>a:hover, #demo .nav-pills>li.active>a:focus {
    color: white;
    background-color: #27A382;
}

#demo a, #demo a:active, #demo a.active {
    outline: 0;
    color: white;
    text-decoration: underline;
}

#demo a:hover, #demo a:focus {

    color: white;   
}

#api .nav-pills>li.active>a, #api .nav-pills>li.active>a:hover, #api .nav-pills>li.active>a:focus {
    color: white;
    background-color: #27A382;
}

#api a, #api a:active, #api a.active {
    outline: 0;
    color: white;
    text-decoration: underline;
}

#api a:hover, #api a:focus {

    color: white;   
}

.navbar a {

    color : white;
}

.navbar a:hover, .navbar a:focus, .navbar a:active, .navbar a.active  {
            
    color: #46A24F !important;
}